.general-footer {
    display: block;
    width: 100%;
    background-color: #2f3b47;
}

.footer-list {
    list-style: none;
    min-height: 100%;
    padding: 5px 0 5px 0;
    margin: 0;
}

.general-footer_buttoon {
    height: 17px;
    display: block;
    width: 17px;
    margin-right: 15px;
    margin-left: auto;
    cursor: pointer;
}