@charset "UTF-8";
body {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: gray;
  margin: 0;
}

.wrapper {
  display: flex;
}

.orders-side {
  flex-basis: 400px;
}
.orders-side .orders-header {
  min-height: 55px;
  padding-bottom: 2px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.orders-side .orders-header .orders-side_title {
  margin: 0;
  padding: 5px 0 10px 0;
}
.orders-side .orders-header .orders-side_title::before {
  content: "";
  position: absolute;
  left: 4px;
  right: 35px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons8-шеврон-влево-24.png");
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
}
.orders-side .orders-header .order-side_input {
  box-sizing: border-box;
  padding: 1px 0 1px 10px;
  width: 98%;
}
.orders-side .orders-header .order-side_input::-webkit-input-placeholder {
  font-style: italic;
}
.orders-side .orders-header::after, .orders-side .orders-header::before {
  content: "";
  position: absolute;
  bottom: 4px;
  right: 35px;
  width: 17px;
  height: 17px;
  background-image: url("../img/icons8-поиск-50.png");
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
}
.orders-side .orders-header::before {
  right: 10px;
  background-image: url("../img/icons8-обновить-32.png");
}
.orders-side .orders-list {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  margin: 0;
}
.orders-side .orders-list::-webkit-scrollbar {
  width: 10px;
}
.orders-side .orders-list::-webkit-scrollbar-thumb {
  border-color: #777;
  background-color: #aaa;
}
.orders-side .orders-list::-webkit-scrollbar-thumb:hover {
  border-color: #555;
  background-color: #777;
}
.orders-side .orders-list .orders_table {
  width: 100%;
}
.orders-side .orders-list .orders-list_item {
  padding: 10px 10px;
  border-top: 1px solid lightgrey;
}
.orders-side .orders-list .orders-list_item .table-row_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.orders-side .orders-list .orders-list_item .orders_numb,
.orders-side .orders-list .orders-list_item .orders_date {
  padding-bottom: 9px;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #000;
}
.orders-side .orders-list .orders-list_item .orders_date {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  font-weight: 500;
}
.orders-side .orders-list .orders-list_item .orders_deliv,
.orders-side .orders-list .orders-list_item .orders_time {
  padding-bottom: 5px;
}
.orders-side .orders-list .orders-list_item .orders_time {
  color: green;
}
.orders-side .orders-list .orders-list_item .orders_time--urgent {
  color: orange;
}
.orders-side .orders-list .orders-list_item--active {
  background-color: #e8eff7;
}
.orders-side .orders-footer {
  display: block;
  width: 100%;
  background-color: #2f3b47;
}
.orders-side .orders-footer .footer-list {
  list-style: none;
  min-height: 100%;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  margin-top: 3px;
}
.orders-side .orders-footer .footer-list_item {
  vertical-align: middle;
}
.orders-side .orders-footer .orders-footer_buttoon {
  vertical-align: middle;
  height: 17px;
  width: 17px;
  background-image: url("../img/icons8-фильтр-32.png");
  background-size: cover;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 30px;
  cursor: pointer;
}
.orders-side .orders-footer .orders-footer_buttoon--settings {
  background-image: url("../img/icons8-сервисы-80.png");
  margin-right: 15px;
}

.info-side {
  min-width: 500px;
  width: 100%;
  border-left: 2px solid #ebebeb;
  /*---------------------------------------------------*/
  /*---------------------------------------------------------------*/
}
.info-side .info-header {
  text-align: center;
  background-color: #eff4f8;
}
.info-side .info-header .header_title {
  margin: 0;
  padding: 5px 0 8px 0;
  border-bottom: 1px solid #d0e0ed;
}
.info-side .general-info {
  background-color: #eff4f8;
  padding: 30px 20px 40px 20px;
}
.info-side .general-info .cap-info_table {
  width: 100%;
}
.info-side .general-info .info-table_item {
  display: flex;
  justify-content: space-between;
}
.info-side .general-info .general-info_order-numb,
.info-side .general-info .general-info_order-price {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  font-weight: 500;
}
.info-side .general-info .general-info_order-currency {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: gray;
  color: #000;
}
.info-side .general-info_list {
  margin: 0;
  list-style: none;
  padding: 0;
}
.info-side .general-info_list .geteral-info_item {
  padding-bottom: 10px;
}
.info-side input[type="radio"].visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}
.info-side .general-filter {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}
.info-side .general-filter_item {
  position: relative;
  margin-right: 50px;
}
.info-side .general-filter_item input[type="radio"] + .radio-indicator {
  content: "";
  position: absolute;
  left: 0px;
  width: 50px;
  height: 50px;
  bottom: -35px;
  background-image: url("../img/icons8-грузовая-машина-50.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 50px;
  opacity: 0.5;
  cursor: pointer;
}
.info-side .general-filter_item input[type="radio"]:checked + .radio-indicator {
  background-image: url("../img//icons8-грузовая-машина-80.ховерpng.png");
  opacity: 1;
}
.info-side .general-filter_item:nth-child(2) input[type="radio"] + .radio-indicator {
  background-image: url("../img/просточел.png");
  background-size: cover;
  left: 80px;
}
.info-side .general-filter_item:nth-child(2) input[type="radio"]:checked + .radio-indicator {
  opacity: 1;
  background-image: url("../img/челховер.png");
}
.info-side .general-filter_item input[type="radio"]:hover + .radio-indicator {
  opacity: 1;
}
.info-side .radio-indicator::after {
  content: "";
  position: absolute;
  top: 55px;
  height: 2px;
  width: 50px;
  background-color: #427cac;
  z-index: 2;
}
.info-side .deliv-table {
  width: 100%;
  border-top: 2px solid #cfe2f3;
  border-bottom: 2px solid #cfe2f3;
  position: relative;
}
.info-side .deliv-table-header {
  padding: 30px 0 10px 20px;
  text-align: start;
}
.info-side .deliv-table_item:nth-child(1)::after {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  height: 1px;
  top: 60px;
  background-color: #cecece;
}
.info-side .deliv-table-header {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #000;
}
.info-side .deliv-table-param {
  text-align: right;
  padding-right: 10px;
  width: 250px;
}
.info-side .deliv-table_item:nth-child(2) .deliv-table-param,
.info-side .deliv-table_item:nth-child(2) .deliv-table-value {
  padding-top: 10px;
}
.info-side .deliv-table_item:nth-child(6) .deliv-table-param,
.info-side .deliv-table_item:nth-child(6) .deliv-table-value {
  padding-bottom: 25px;
}
.info-side .deliv-table-value {
  color: #000;
}
.info-side .prodict-line {
  padding: 15px 10px 13px 20px;
  background-color: #fafafa;
}
.info-side .prodict-line_title {
  padding-top: 5px;
  padding-bottom: 10px;
  margin: 0;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
.info-side .line-items_product {
  padding: 3px 0 3px 10px;
  width: 300px;
}
.info-side .line-items_table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 2px solid #cdcdcd;
  background-color: #fff;
}
.info-side .line-items_header {
  border-bottom: 2px solid #e4e4e4;
  border-top: 2px solid #e4e4e4;
  font-family: 'PT Serif', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: gray;
  padding: 10px 0 10px 10px;
  background-color: #fafafa;
  color: #000;
}
.info-side .line-items_header,
.info-side .line-items_price,
.info-side .line-items_quantity,
.info-side .line-items_total {
  text-align: end;
  padding-top: 5px;
}
.info-side .line-items_price {
  width: 200px;
}
.info-side .line-items_header:nth-child(1) {
  text-align: left;
}
.info-side .product_name {
  display: block;
  color: #000;
  padding: 0 0 4px 0;
  font-weight: 700;
}
.info-side .items-price_value,
.info-side .items-total_value {
  font-weight: 700;
}
.info-side .general-footer {
  display: block;
  width: 100%;
  background-color: #2f3b47;
}
.info-side .general-footer .footer-list {
  list-style: none;
  min-height: 100%;
  padding: 11px 0 11px 0;
  margin: 0;
}
.info-side .general-footer .general-footer_buttoon {
  vertical-align: middle;
  height: 18px;
  display: block;
  width: 18px;
  background-image: url("../img/icons8-сообщение-50.png");
  background-size: cover;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 15px;
  margin-left: auto;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
